---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

code {
    // padding: 0.25rem;
    // background-color: #f0f0f0;
    // border: 1px solid #dadada;
    padding: 0.1rem;
    color: #41503f;
    border-radius: 5px;
    font-size: 13px;
    line-height: 1.1rem;
    font-family: $gothicfont;
    // margin: 0 5px;
}